{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "strict",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"proseWrap": "never",
	"quoteProps": "consistent",
	"requirePragma": false,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"semi": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.{json,jsond,yml,yaml}",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
