/*
 * Written by: @the-me-0
 */

@import "mixins";

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(25,37,53,255);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
  align-items: center;

	@include m {
		flex-direction: row;
	}
}

#sign-in {
  background-color: #f1f3fd;
  width: 70vw;
  height: 45vh;
	padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

	@include s {
		width: 50vw;
	}
	@include m {
		width: 40vw;
	}
	@include l {
		width: 35vw;
	}
}

#tars-logo {
	// https://codepen.io/pgalor/pen/xyPGvJ
	background-image: linear-gradient(120deg, #34e0f0 0%, #b400ff 100%);
	border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
	width: 40vw;
	height: 40vw;
	animation: morph 3s linear infinite;
	transform-style: preserve-3d;
	outline: 1px solid transparent;
	will-change: border-radius;

	@include s {
		width: 30vw;
		height: 30vw;
	}
	@include l {
		width: 20vw;
		height: 20vw;
	}

	&:before, &:after {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
		box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
		will-change: border-radius, transform, opacity;
		animation-delay: 100ms;
		background-image: linear-gradient(120deg, rgba(0,67,255,.55) 0%, rgba(0,103,255,.89) 100%);
		animation: morph 3s linear infinite;
		opacity: .21;
		animation-duration: 5s;
	}
	&:after {
		animation-delay: 1500ms;
		opacity: .89;
		content: "TARS";
		line-height: 40vw;
		text-indent: 20vw;
		font-size: 8vw;
		animation-duration: 2s;

		@include s {
			line-height: 30vw;
			text-indent: 15vw;
			font-size: 6vw;
		}
		@include l {
			line-height: 20vw;
			text-indent: 8vw;
			font-size: 4vw;
		}
	}
}


@keyframes morph {
	0%,100% {
		border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
		transform: translate3d(0,0,0) rotateZ(0.01deg);
	}
	34% {
		border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
		transform: translate3d(0,5px,0) rotateZ(0.01deg);
	}
	50% {
		opacity: .89;
		transform: translate3d(0,0,0) rotateZ(0.01deg);
	}
	67% {
		border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
		transform: translate3d(0,-3px,0) rotateZ(0.01deg);
	}
}
@keyframes fadeIn {
	100% {
		transform: scale(1.03);
		opacity: 0;
	}
}
